html {
    box-sizing: border-box;
    border: none;
    padding: 0;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


/* table */

table {
  margin: auto;
  width: 295px;
  text-align: center;
  border: 1px outset #00BFCC;
  border-collapse: seperate;
  border-spacing: 0;
}

/* table rows and cells */

td {
  width: 25%;
  height: 50px;
  padding: 0;
  border: 1px groove #00BFCC;
  background-color: #343838;
}

#displaycss {
  padding: 20px;
}

input {
  background-color: #343838;
  border: 1px groove #00DFCC;
  color: #00DFFC;
  font-weight: 500;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  outline: 0;
  position: relative;
  border: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.highlighted {
  background-color: #00BFCC;
  color: #005F6B;
  border: 1px outset #005F6B;
}
/* specific inputs wider/styles (display, percent, clear, 0) */



#display {
  background-color: #005F6B;
  color: #00BFCC;
  width: 100%;
  height: 80px;
  cursor: default;
  font-weight: normal;
  font-style: italic;
  font-size: 30px;
  padding-right: 15px;
  padding-top: 25px;
  text-align: right;
  text
}


input[name="clear"] {
  width: 100%;
}

input[name="zero"] {
  width: 100%;
}